.App {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #543f12;
  font-size: 35px;
  letter-spacing: 2px;
  margin: 0 auto;
  text-align: center;
}

.review-comments {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.movie-container {
  /* display: flex; */
  flex-wrap: wrap;
  /* background-color: #543f12; */
  
}

.image {
  background-color: #543f12;
  max-width: 100%;
  width: 200px;
  
}


.title {
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  color: red;
 
  flex-wrap: wrap;
  justify-content: space-between; 
  letter-spacing: 2px;
  
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}
