.App {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;  
}

h1 {
  color: orange;
  font-size: 45px;
  letter-spacing: 4px;
  margin: 0 auto;
  text-align: center;
}

.review-comments {
display: flex;
flex-direction: column;
}

.poster {
  width: 200px;
  
}

nav {
display: flex;
width: 100vw;
justify-content: space-around;

}