.App {
  background-color: #654123;
  font-family: Arial, Helvetica, sans-serif;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
}

.header {
  color: white;
  font-size: 25px;
  letter-spacing: 4px;
  margin-top: 20px;
  background-color: black;
  text-align: center;
  float: right;
  font-weight: bold;
}

.Home-Review a {
  text-decoration: none;
  color: white;
  letter-spacing: 4px;
  border-radius: 10px;
  background: transparent;
  border: 4px  solid white;
  float: right;
  text-transform: uppercase;
}

.Home-Review a:hover {
  color:#654123;
}

.review-comments a {
  display: flex;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  flex-direction: column;
  margin: 0 auto;
  background-color: black;
  margin-top: 15px;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 4px;
  border: 1px  solid white
}

.review-comments a:hover {
  color:#654123;
}

.create-review {
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  background: transparent;
  border: 4px  solid black;
}

.Navbar {
  font-weight: bold;
  color: white;
  text-align: center;
  letter-spacing: 4px;
  background-color: black;

}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px;
  box-shadow: 4px 4px 6px 0;
  width: 200px;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 200px;
  align-items: center;
}

.image {
  display: flex;
  max-width: 100%;
  width: 200px; 
}

.overview {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(130%);
  transition: all 0.3s;
  max-height: 200px;
  overflow-y: scroll;
  align-items: center;
}

.movie-container:hover .overview {
  transform: translateY(0%);
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}

.all-movies {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  box-shadow: -4px 4px 6px 0;

}

.footer {
  color: white;
  text-align: center;
  letter-spacing: 4px;
  margin-top: 20px;
  background-color: black;
}

@media screen and (max-width: 700px) {
   .image {
    grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width: 425px) {
  .image {
   grid-template-columns: 1fr;
}
}

